body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#pauseBtn {
    display: none;  /* Hide the pause button initially */
    margin-top: 20px;
}

#message {
    margin-bottom: 20px;
    font-size: 20px;
}

.big-text {
    font-size: 48px;
    margin-bottom: 20px;
}

#formWrapper {
    margin-bottom: 20px;
}
